
# PlanAhead Generated physical constraints 

NET "clk" LOC = M21;
NET "rst" LOC = AE24;
NET "scl" LOC = V17;
NET "sda" LOC = U17;
NET "dip[0]" LOC = W19;
NET "dip[1]" LOC = Y24;
NET "dip[2]" LOC = K19;
NET "dip[3]" LOC = V24;
NET "dip[4]" LOC = U20;
NET "dip[5]" LOC = U23;
NET "dip[6]" LOC = U24;
NET "dip[7]" LOC = U19;
NET "led[0]" LOC = N24;
NET "led[1]" LOC = N23;
NET "led[2]" LOC = M24;
NET "led[3]" LOC = L24;
NET "led[4]" LOC = L23;
NET "led[5]" LOC = K24;
NET "led[6]" LOC = H24;
NET "led[7]" LOC = D24;
